<div class="aboutPage statsPage">

    <div class="mainSection">
        <h1 data-aos="fade-up">
            <a routerLink="/start">ShipWars</a>
        </h1>


        <div class="content">
            <div class="container">
                Hello {{ userLogin }}

                <ul>
                    <li>
                        You played {{ total }} games.
                    </li>

                    <li>
                        You won: {{ won }} games.
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>