<div class="aboutPage">
    <div class="mainSection">

        <h1 data-aos="fade-up">
            <a routerLink="/home">ShipWars</a>
        </h1>


        <div class="content">
            ShipWars is simple game based on BattleShip gameplay concept in very basic form.
            <p>
                Player join queue and when he find and accept game he need to destroy randomly placed ship before second
                player.
            </p>

            <p>
                Example users:
            </p>

            <ul>
                <li>
                    admin@admin.pl Password: admin1
                </li>

                <li>
                    admin2@admin.pl Password: admin1
                </li>
            </ul>
        </div>

    </div>

</div>
