<div class="mainSection">


    <h1 data-aos="fade-up">
        <a routerLink="/home">ShipWars</a>
    </h1>

    <nav>
        <ul data-aos="fade-down">
            <li>
                <div class='btn-cont'>
                    <a class='btn' routerLink="/about">
                        About
                        <span class='line-1'></span>
                        <span class='line-2'></span>
                        <span class='line-3'></span>
                        <span class='line-4'></span>
                    </a>
                </div>
            </li>
            <li>
                <div class='btn-cont'>
                    <a class='btn' routerLink="/login">
                        Sign in
                        <span class='line-1'></span>
                        <span class='line-2'></span>
                        <span class='line-3'></span>
                        <span class='line-4'></span>
                    </a>
                </div>
            </li>
            <li>
                <div class='btn-cont'>
                    <a class='btn' routerLink="/register">
                        Register
                        <span class='line-1'></span>
                        <span class='line-2'></span>
                        <span class='line-3'></span>
                        <span class='line-4'></span>
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</div>